<div class="gandalf">
<center><h2>{{message}}</h2></center>
<center><p>In Unfinished Tales, Tolkien describes Gandalf as the last of the wizards to appear in Middle-earth, one who: "seemed the least, less tall than the others, and in looks more aged, grey-haired and grey-clad, and leaning on a staff". Through his travels he met Elf Círdan and was given the elven Ring of power called Narya, the Ring of Fire, containing a "red" stone for his aid and comfort. Gandalf is one of the main protagonists in The Hobbit and The Lord of the Rings books and movies.</p></center>
<center><img src="views/images/Gandalf-2.jpg" alt="Gandalf" height="500" width="500"></center>
</div>
