<div class="genpep">
<center><h2>{{message}}</h2></center>
<center><p>General Pepper is the general of the Cornerian Army and the commander of all of Corneria’s forces in the Lylat System. At the end of Star Fox 64 Fox McCloud is given the opportunity, by General Pepper, to fight for the Cornerian army but turns down the position. Stating that he would "Rather do things his own way". General Pepper was replaced after Star Fox: Assault by Peppey Hare of the Star Fox team</p></center>
<center><img src="views/images/genpepper.jpg" alt="General Pepper" height="500" width="500"></center>
</div>
