<div class="juno">
<center><h2>{{message}}</h2></center>
<center><p>Ever since Juno's trader parents were killed by space pirates early on he had a great desire to be part of a Jet Force team to defend his part of the galaxy. Later on he became a respected member of the Gemini team and rose through the ranks. Special skills include heavy weapons and armor, as well as a heat-proof suit that enables him to walk on lava.</p></center>
<center><img src="views/images/juno.jpg" alt="Juno" height="500" width="500"></center>
</div>
